<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>

<title><?php $title; ?></title>

<link rel="alternate" type="application/rss+xml" title="Web Development Blog RSS Feed" href="http://www.scriptiny.com/feed/">

<link rel="shortcut icon" href="images/favicon0.ico">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<!-- bluetrip css -->
<link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
<!--[if IE]>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" />
<![endif]-->
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection" />
<!-- end bluetrip css -->
<script type="text/javascript" src="images/tinydropdown.js"></script>


</head>
<body>





<div id="outer">

		<div id="center" class ="container">
			<div id="header" class="span-24">
			
			
				<div class = "span=5">
				<a href="#"><img src="images/logo0000.png" width="386" height="84" alt="Web Development Blog" id="logo"></a>
				</div>
				<div id="topnav" class="span-10">
				
					<ul>
						<li>Selamat Datang Guru Joni.....</li>
						<li>Logout</li>
						
					</ul>

					<form id="search" method="get" action="http://www.scriptiny.com/">
						<input type="text" name="s" id="s" value="search" onfocus="this.value=''">
					</form>
				</div>
				<div class="span-9 last">
								<h1 ><?php $content_title; ?></h1> <!--judul blog !-->
				</div>
			</div>
			
		

<div id="nav" class="span-24">
    <ul id="menu" class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">One</a>
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li class="submenu">
                    <a href="#">Three</a>
                    <ul>
                        <li class="noborder"><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                    </ul>
                </li>      
            </ul>
        </li>
        <li><span>Two</span>
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
                <li class="submenu">
					<span>No Link</span><ul>
                		<li class="noborder"><a href="#">One</a></li>
                		<li><a href="#">Two</a></li>
                		<li><a href="#">Three</a></li>
                		<li><a href="#">Four</a></li>
                		<li><a href="#">Five</a></li>
					</ul>
				</li>
                <li><a href="#">Five</a></li>
                <li><a href="#">Six</a></li>
            </ul>
        </li>
        <li><a href="#">Three</a>
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </li>
        <li><a href="#">Four</a>
            <ul id="menu_info">
				<li>
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo nulla, malesuada in porta vitae, fermentum ac nulla.</p>
				</li>
            </ul>
        </li>
    </ul>
</div>

			
			
			<div id="content" class="span-24">
			
			<div id="left" class="span-10">
					<div id="ads">
						<div id="left_menu">
							<h3>Menu Utama</h3>
						<div id="left_menu_content"><p> Contact us in here 089374204204 </p></div>	
						</div>
						
					</div>
					<div id="left_menu">
						<h3>Categories</h3>
						<div id="left_menu_content">
						<ul class="marginright">
								<li class="cat-item cat-item-6"><a href="http://www.scriptiny.com/category/css/" title="View all posts filed under CSS">CSS</a> (4)
</li>
	<li class="cat-item cat-item-8"><a href="http://www.scriptiny.com/category/database/" title="View all posts filed under Database">Database</a> (0)
</li>
	<li class="cat-item cat-item-4"><a href="http://www.scriptiny.com/category/javascript/" title="View all posts filed under JavaScript">JavaScript</a> (30)
</li>
	<li class="cat-item cat-item-1"><a href="http://www.scriptiny.com/category/uncategorized/" title="View all posts filed under Other">Other</a> (3)
</li>
	<li class="cat-item cat-item-5"><a href="http://www.scriptiny.com/category/xhtml/" title="View all posts filed under XHTML">XHTML</a> (2)
</li>
						</ul>
						<ul class="marginright">
								<li class="cat-item cat-item-11"><a href="http://www.scriptiny.com/category/net/" title="View all posts filed under .NET">.NET</a> (1)
</li>
	<li class="cat-item cat-item-30"><a href="http://www.scriptiny.com/category/apache/" title="View all posts filed under Apache">Apache</a> (2)
</li>
	<li class="cat-item cat-item-9"><a href="http://www.scriptiny.com/category/design/" title="View all posts filed under Design">Design</a> (9)
</li>
	<li class="cat-item cat-item-10"><a href="http://www.scriptiny.com/category/php/" title="View all posts filed under PHP">PHP</a> (5)
</li>
	<li class="cat-item cat-item-12"><a href="http://www.scriptiny.com/category/reviews/" title="View all posts filed under Reviews">Reviews</a> (1)
</li>
						</ul>
						<ul>
								<li class="cat-item cat-item-3"><a href="http://www.scriptiny.com/category/ajax/" title="View all posts filed under AJAX">AJAX</a> (3)
</li>
	<li class="cat-item cat-item-7"><a href="http://www.scriptiny.com/category/api/" title="View all posts filed under API">API</a> (3)
</li>
	<li class="cat-item cat-item-29"><a href="http://www.scriptiny.com/category/performance/" title="View all posts filed under Performance">Performance</a> (2)
</li>
	<li class="cat-item cat-item-13"><a href="http://www.scriptiny.com/category/wordpress/" title="View all posts filed under WordPress">WordPress</a> (1)
</li>
						</ul>
					</div>
				</div>
					
				</div>
			
			
			
			
			
			
				<div id="right" class="span-14 last">
				<div class="post">
								<div class="posttext">
									
									<?php $content;?>
									<div class="details">
										<em>Posted by <a href="http://www.scriptiny.com/author/michael/" title="Posts by Michael" rel="author">Michael</a> in <a href="http://www.scriptiny.com/category/expressionengine/" title="View all posts in ExpressionEngine" rel="category tag">ExpressionEngine</a>, <a href="http://www.scriptiny.com/category/php/" title="View all posts in PHP" rel="category tag">PHP</a>  on December 1, 2011</em>
									</div>
								</div>
							
				</div>






				</div>
	
			</div>	
			
	
			
			</div>
	<div id="footer">
		<div id="footercenter">
			<span id="copyright">Template By Leigeber</span>
			<span id="footerlinks"><a href="http://www.scriptiny.com/">Homepage</a> | <a href="http://www.scriptiny.com/contact/">Contact</a> | <a href="http://www.scriptiny.com/archive/">Archive</a></span>
		</div>
	</div>
</div>

<script type="text/javascript">
var dropdown=new TINY.dropdown.init("dropdown", {id:'menu', active:'menuhover'});
</script>


</body>
</html>
<!-- This document saved from http://www.scriptiny.com/2011/12/introduction-expressionengine-review/ -->
